// reset
body,p{
    margin: 0;
}
body,html,#app{
  height: 100%;
}
* {
  line-height: 1;
}
a{
  text-decoration: none;
  color: unset;
}
.bgf{
  background-color: #fff;
}
.mainText{
  color: #00B0F0;
  font-size: 12px;
}
.m0{
  margin:0!important;
}
.mb20{
margin-bottom: 20px;
}
.pb20{
  padding-bottom: 20px;
}
.mr24{
  margin-right: 24px;
}

//  flex 
.flexEnd{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .flexSpace {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .flexStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flexColumn {
    flex-direction: column;
  }
  .alignEnd{
    align-items: flex-end;
}
.alignStart{
  align-items: flex-start;
}
.flexWrap{
  flex-wrap: wrap;
}

// btns
.editBtn{
  color: #007EFF;
  font-size: 12px;
  text-decoration: underline;
  margin: 0 15px;
  word-break: keep-all;
  cursor: pointer;
}
.deleteBtn{
  color: #FF4141;
  font-size: 12px;
  text-decoration: underline;
  margin: 0 15px;
  word-break: keep-all;
  cursor: pointer;
}
.pagination{
  margin:20px ;
}
.el-dialog{
  padding:0 30px;
}

.el-dialog__header {
  text-align: left;
  padding:18px 0 12px!important;
  border-bottom: 1px solid #E5E5E5;
}
// element
//在入口文件加入下面样式body  
.el-table{
  font-size: 13px!important;
}
.el-table .cell *{
  height: fit-content;
  line-height: normal;
  font-size: 13px!important;
}
.el-table td{
  padding: 6px 0!important;
}
.el-table th.gutter {    
  display: table-cell !important;
}

body .el-table colgroup.gutter {
  display: table-cell !important;
}
.el-button{
  line-height: 1;
  min-width: 80px;
  font-size:14px;
}

.el-button{
  &.transBtn{
    color:#00B0F0!important;
    
    border: 1px solid #00B0F0;
    border-radius: 21px;
    text-decoration: none!important;
    padding:8px 10px;
  }
  &.searchBtn{
    padding:8px 10px;
    background: #00B0F0;
    border-radius: 21px;
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  &.cancelBtn{
    padding:8px 10px;
    background: #fff;
    border-radius: 21px;
    color: #666666;
    border-color: #666666;
  }

}

.el-input__inner {
  height: 30px!important;
  background-color: #FAFAFA!important;
  border-color: #d5d5d5!important;
}
.el-textarea__inner{
  background-color: #FAFAFA;
  border-color: #d5d5d5;
}
.searchBox{
  .el-form-item{
   max-width: 200px;
  }
}

// el-switch
.el-switch{
  height: 32px!important;
  line-height: 32px!important;
  .el-switch__core{
    height: 32px !important;
    border-radius: 17px !important;
    width: 70px !important;
    &:after{
      top: 5px !important;
      left: 5px !important;
      right: auto !important;
      border-radius: 50% !important;
      width: 21px !important;
      height: 21px !important;
    }
  }
  &.is-checked {
    .el-switch__core::after{
      right: 8px!important;
      margin: 0;
      left: auto!important;
    }
  }
}


.el-table th>.cell{
  font-size: 14px;
}


// dialog
.el-dialog__title{
  color: #017EFF;
  font-size: 16px;
}
.el-dialog__body{

  padding:35px 0px!important;
  font-size: 16px;
}

.el-date-editor .el-range__icon,.el-date-editor .el-range-separator{
  line-height: 24px!important;
}
.el-range-editor .el-range-input{
  font-size: 14px;
}
.flexEnd{
  .el-form-item{
    margin-right: 0!important;
  }
}