// reset
body,p{
    margin: 0;
}
body,html,#app{
  height: 100%;
}
* {
  line-height: 1;
}
a{
  text-decoration: none;
  color: unset;
}
.bgf{
  background-color: #fff;
}
.mainText{
  color: #00B0F0;
  font-size: 14px;
}
.m0{
  margin:0!important;
}
.mb20{
margin-bottom: 20px;
}
.pb20{
  padding-bottom: 20px;
}
.mr24{
  margin-right: 24px;
}

//  flex 
.flexEnd{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .flexSpace {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .flexStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flexColumn {
    flex-direction: column;
  }
  .alignEnd{
    align-items: flex-end;
}
.alignStart{
  align-items: flex-start;
}
.flexWrap{
  flex-wrap: wrap;
}

// btns
.editBtn{
  color: #007EFF;
  font-size: 14px;
  text-decoration: underline;
  margin: 0 15px;
  word-break: keep-all;
}
.deleteBtn{
  color: #FF4141;
  font-size: 14px;
  text-decoration: underline;
  margin: 0 15px;
  word-break: keep-all;
}
.pagination{
  margin:20px ;
}
.el-dialog{
  padding:0 30px;
}

.el-dialog__header {
  text-align: left;
  padding:18px 0 12px!important;
  border-bottom: 1px solid #E5E5E5;
}
// element
//在入口文件加入下面样式body  
.el-table .cell *{
  height: fit-content;
  line-height: normal;

}
.el-table th.gutter {    
  display: table-cell !important;
}

body .el-table colgroup.gutter {
  display: table-cell !important;
}
.el-button{
  line-height: 1;
  min-width: 120px;
}
.el-button.transBtn{
  color:#00B0F0!important;
  font-size:18px;
  border: 1px solid #00B0F0;
  border-radius: 21px;
  text-decoration: none!important;
}
.el-button.searchBtn{
  padding:13px 16px;
  background: #00B0F0;
  border-radius: 21px;
  color: #fff;
}
.el-button.cancelBtn{
  padding:13px 16px;
  background: #fff;
  border-radius: 21px;
  color: #666666;
  border-color: #666666;
}
.el-input__inner {
  height: 34px;
  background-color: #FAFAFA!important;
  border-color: #d5d5d5!important;
}
.el-textarea__inner{
  background-color: #FAFAFA;
  border-color: #d5d5d5;
}

// el-switch
.el-switch{
  height: 42px!important;
  line-height: 42px!important;
  .el-switch__core{
    height: 42px!important;
    border-radius: 21px!important;
    width: 105px!important;
    &:after{
      top: 8px!important;
      left: 8px!important;
      right: auto!important;
      border-radius: 50%!important;
      width: 26px!important;
      height: 26px!important;
    }
  }
  &.is-checked {
    .el-switch__core::after{
      right: 8px!important;
      margin: 0;
      left: auto!important;
    }
  }
}





// dialog
.el-dialog__title{
  color: #017EFF;
  font-size: 18px;
}
.el-dialog__body{

  padding:35px 0px!important;
  font-size: 18px;

}